body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #008080; 
}
header {
    background-color: #333; 
    color: white;
    padding: 20px;
}
header h3 {
    display: inline;
}
nav {
    text-align: right;
    float: right;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white; 
}
section {
    padding: 40px;
    margin: 20px 0;
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s;
}

h1, h2, h3 {
    margin: 10px 0;
    text-align: center; 
}
#about {
    margin-top: 20px;
    text-align: center; 
}
.about-content {
    display: inline-block;
    margin-top: 20px;
    text-align: left;
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
}
.profile-photo {
    border-radius: 50px;
    width: 150px; 
    height: auto;
    float: left;
    margin-right: 30px;
}
#education-projects {
    margin-top: 40px;
    text-align: center; 
}
.education, .projects {
    width: 400px; 
    display: inline-block;
    vertical-align: top;
    margin: 0 20px; 
}
.edu, .proj {
    margin-bottom: 20px;
}
.edu img, .proj img, .blog img {
    width: 60px;
    height: auto;
    border-radius: 8px; 
    display: block; 
    margin: 0 auto; 
}
.edu p, .proj p {
    text-align: center; 
    margin-top: 10px; 
}
#experience {
    text-align: center; 
}
#blogs {
    text-align: center;
    margin-top: 40px;
}
.blog-container {
    display: inline-block; 
    width: 100%;
}
.blog {
    background-color: #3EB489; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
    text-align: center; 
    width: 300px; 
    display: inline-block;
    margin: 10px; 
}
.blog:hover {
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7); 
}
footer {
    background-color: #333; 
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer a img {
    width: 30px;
    height: 30px;
}
.social-media a {
    margin: 0 10px;
    text-decoration: none;
    color: white; 
}